<!--The content below is only a placeholder and can be replaced.-->
<apx-chart #firstChart [series]="[form.value.series]"
           [xaxis]="{ categories: form.value.xaxis }"
           [chart]="{
              height: height,
              type: 'line',
              zoom: {
                enabled: false
              },
              shadow: {
                    enabled: true,
                    color: '#000',
                    top: 18,
                    left: 7,
                    blur: 10,
                    opacity: 1
                }}"

  [grid]="{
    row: {
      colors: ['#f3f3f3', 'transparent'],
      opacity: 0.5
    }
  }"
   [title]="{ text: 'Product Trends by Month', align: 'left' }"
           [stroke]="{curve: 'straight'}" [dataLabels]="{enabled: false}">

</apx-chart>

<input type="number" [(ngModel)]="height">

<form [formGroup]="form">
  <div formGroupName="series">
    <input type="text" formControlName="name">
  </div>


  <h3>Values</h3>
  <button (click)="addValue()">Add Value</button>

  <div>
    <div formGroupName="series" style="width: 20%; display: inline-block">
      <div formArrayName="data">
        <div *ngFor="let alias of form.get('series').get('data').controls; let i=index">
          <label>
            Value:
            <input type="number" [formControlName]="i">
          </label>
        </div>
      </div>
    </div>

    <div formArrayName="xaxis" style="width: 20%; display: inline-block">
      <div *ngFor="let alias of form.get('xaxis').controls; let i=index">
        <label>
          Value:
          <input type="text" [formControlName]="i">
        </label>
      </div>
    </div>
  </div>
</form>

<button type="button" (click)="execute()">Execute</button><br>

{{form.value | json}}

<router-outlet></router-outlet>
